<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/header.css' />
</head>
<body>

<div id="wrapper">
    <div id="placeForImg">
       <img src="/images/img5.png" alt="loading"/>
    </div>


    <div id="placeForLinks">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>

    </div>

</div>
</body>
</html>
