<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
  <div><%- include('header') -%></div>

  <div id="placeForBackground">
    <video autoplay muted loop id="myVideo">
      <source src="images/z1.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

    <div class="content">
      <h1>Welcome to Our WebShop</h1>
      <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo,
        eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro,
        pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>

    </div>

    <a href="/login" >LOGIN</a>



  </div>

  </body>
</html>
